<footer class="text-white pt-4 bg-dark">
    <div class="container">
        <div class="row flex-wrap">
            <!-- Img  -->
            <div class="col-md-4 col-12 mb-3 ">
                <img src="logo.png" alt="Logo" width="200" height="200" class="d-inline-block" />
            </div>
            <div class="col-md-4 col-12 mb-3">
                <h5>Quick links
                </h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/" (click)="scrollToTop()">Home</a></li>
                    <li><a routerLink="/about-us" (click)="scrollToTop()">About Us</a></li>
                    <li><a routerLink="/contact-us" (click)="scrollToTop()">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <h5>WINDOWS</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/casement-window" (click)="scrollToTop()">Casement Window</a></li>
                    <li><a routerLink="/curtain-wall-window" (click)="scrollToTop()">Curtain Wall Window</a></li>
                    <li><a routerLink="/motorized-lift-up-window" (click)="scrollToTop()">Motorized Lift-Up Window</a></li>
                    <li><a routerLink="/parallel-window" (click)="scrollToTop()">Parallel Window</a></li>
                    <li><a routerLink="/sliding-window" (click)="scrollToTop()">Sliding Window</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <h5>DOORS</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/bi-folding-door" (click)="scrollToTop()">Bi-Folding Door</a></li>
                    <li><a routerLink="/casement-door" (click)="scrollToTop()">Casement Door</a></li>
                    <li><a routerLink="/conceal-track-slimline-sliding-door" (click)="scrollToTop()">Conceal Track Slimline Sliding Door</a></li>
                    <li><a routerLink="/slimline-lift-slide-door" (click)="scrollToTop()">Slimline Lift and Sliding Door</a></li>
                    <li><a routerLink="/slimline-sliding-door" (click)="scrollToTop()">Sliding Door</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-12 mb-3">
                <h5>UNIQUE</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/blinds-between-glass" (click)="scrollToTop()">Blinds Between Glass System</a></li>
                    <li><a routerLink="/motorized-system" (click)="scrollToTop()">Motorized System</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-12 mb-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>000000000000</li>
                    <li>{{ email }}</li>
                </ul>
            </div>
            
</div>
</div>
</footer>
