<app-img-slider
    [images]=
    "[
        'slidingWindow2',
    ]"
>
</app-img-slider>
  
<div class="my-container my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 mb-2">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'slidingWindow8',
                    'slidingWindow3',
                    'slidingWindow6',
                    
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                <h2>MD126 Slimline Sliding Window</h2>
                <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Max weight: 200kg | W ≤ 2500 | H ≤ 1700</li>
                            <li>Clothes hanger size: W ≤ 1200 | H ≤ 1200</li>
                            <li>SS flymesh: can be both interior & exterior</li>
                            <li> Glass thickness: 25mm</li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Concealed Sash</li>
                                <li>Double Tracks For SinglePanel & Armrest Optional</li>
                                <li>Slimline Interlock Screen</li>
                                <li>Conceal Drainage System</li>
                                <li>Easy Cleaning</li>
                                <li>Clothes Hanger</li>
                                <li>High-Transparency SS Fly Screen</li>
                                <li>Semi Automatic Locking System</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-4 px-3">
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-10 col-lg-9">
            <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
        </div>
    </div>

    <div class="row text-center mb-6">
        <div class="col">
            <h3>MD126 Slimline Sliding Window</h3>
            <div class="row justify-content-center">
                <div class="col-8">
                    <img [src]="imgPath2" class="img-fluid" alt="Minimalism Appearance">
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mb-6">
        <div class="col">
            <h3>Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <h3>Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Concealed Sash</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>The sash discreetly integrates with the frame,
                eliminating any visible gaps and creating a visual masterpiece.
                This feature not only adds a touch of sophistication to your living
                space but also ensures unobstructed views and smooth operation.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Double Tracks For Single Panel & Armrest Optional</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>Dive into the realm of versatility with double tracks,
                offering the option for a single panel with an armrest.
                This unique design caters to your specific needs, providing
                flexibility in operation and catering to diverse aesthetic
                preferences.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Slimline Interlock</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>Developed with slimline interlock, minimizing sightlines and
                maximizing transparency. This design choice ensures that you can enjoy
                uninterrupted views of the outdoors, connecting your living space with
                the natural beauty that surrounds it.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Conceal Drainage</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>In the pursuit of a harmonious living space, the door
                incorporates a concealed drainage system. This thoughtful feature
                efficiently manages rainwater without compromising the window's clean
                and minimalist appearance. Beauty and functionality coexist seamlessly,
                allowing you to revel in the elegance of your surroundings.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Easy Cleaning</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>Elevate your lifestyle with the MD126's easy-cleaning feature.
                Maintenance becomes a breeze as the window's design facilitates effortless
                cleaning, ensuring that your living space remains not just beautiful but
                also practical and easy to care for.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>High-Transparency SS Fly Screen</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>Experience the luxury of unobstructed ventilation high-transparency
                stainless steel fly screen. This feature not only provides protection
                against insects but also ensures that fresh air flows freely into your
                home. Revel in the joy of a living space that seamlessly blends the comforts
                of indoors with the refreshing breeze of the outdoors.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath11" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Semi Automatic Locking System</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>Security takes center stage with semi-automatic locking system.
                This advanced mechanism provides enhanced security for your home,
                offering peace of mind with its seamless operation. The window becomes
                a fortress, protecting your sanctuary with ease and sophistication.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center p-3">
            <img [src]="imgPath12" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Clothes Hanger</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center p-3">
            <p>A practical innovation—an integrated clothes hanger. This versatile
                addition enhances the window's functionality, providing a space-efficient
                solution for drying clothes while capitalizing on the window's design.
                Enjoy the convenience of multi-functional living with this thoughtful feature.</p>
        </div>
    </div>

    <hr class="my-4">
</div>




<div class="container">
    <div class="row p-2 rounded-3 mb-4 justify-content-center text-muted">
        <h2 class="mb-4 text-center">Transformative Benefits and Versatile Applications
        </h2>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Elegance and Aesthetics
            </h3>
            <p>The concealed sash, slimline interlock, and
                concealed drainage contribute to the window's
                sleek and minimalist appearance, enhancing
                the overall aesthetics of any space.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Practical Maintenance
            </h3>
            <p> The easy-cleaning feature ensures
                practical maintenance, allowing
                users to keep their windows in top
                condition effortlessly.</p>
        </div>
    </div>
    <div class="row p-2  rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Uninterrupted Views
            </h3>
            The slimline interlock and high-transparency SS fly screen provide
            unobstructed views, connecting indoor and outdoor spaces seamlessly.
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Security and Peace of Mind
            </h3>
            <p>
                The semi-automatic locking
                system ensures enhanced security, offering peace of mind for homeowners.</p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath13" class="img-fluid" style="width:100%; height: auto;">
        </div>
    </div>
</div>


<div class="container">
    <div class="row p-2 rounded-3 mb-4 justify-content-center text-muted">
        <h2 class="mb-4 text-center">Applications Across Spaces
        </h2>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Residential Elegance
            </h3>
            <p>Elevate the elegance of residential spaces
                with slimline design and versatile features
                make it a perfect addition to living rooms,
                bedrooms, and other areas
                where aesthetics and functionality are paramount.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Commercial Sophistication
            </h3>
            <p>Make a sophisticated statement in commercial spaces,
                from modern offices to upscale boutiques. The slimline sliding window design versatility and
                advanced features suit a range of commercial applications.
                </p>   
        </div>
    </div>
    <div class="row p-2  rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Hospitality Serenity
            </h3>
            <p>Create serene and welcoming hospitality spaces .
                Its slimline design and high-transparency features
                make it an ideal choice for hotels, resorts, and upscale dining establishments.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Architectural Brilliance
            </h3>
            <p>
                For architects and designers pushing the boundaries of creativity,
the sliding window is a canvas for architectural brilliance.
Its unique features and slimline design make it an ideal choice for avant-garde projects.  
                </p>
        </div>
    </div>
    <hr>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Global Appeal: MD126 Across Continents
        </h3>
        <p class="lead Hasco mb-4">
            The MD126 Slimline Sliding Window has transcended borders,
            captivating the hearts of homeowners, architects,
            and designers across America, Mexico, the Middle East, and Asia.
            Its unique slimline design and durable appearance have positioned it
            as a hot favorite in diverse markets.        </p>

</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath14" class="img-fluid" style="width:100%; height: auto;">
        </div>
    </div>
</div>


<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Elevate Your Living Experience with MD126
        </h3>
        <p class="lead Hasco mb-4">
            MD126 Slimline Sliding Window by Hasco is not just a window;
            it's an embodiment of lifestyle enhancement.
            
            From its technical brilliance to its transformative features, every aspect of the MD126 is crafted to
            elevate your living experience.
            
            Welcome to a world where style meets functionality, and where your window becomes a
            statement of sophistication and innovation.
            Experience the future of slimline design. Experience the MD126.
            </p>
<hr>
</div>