<app-img-slider
    [images]=
    "[
        'curtainWallWindow2'
    ]"
>
</app-img-slider>
  
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'curtainWallWindow3',
                    'curtainWallWindow5',
                    'curtainWallWindow6',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                <h2>MD128 Slimline Curtain Wall Window</h2>
                <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>
                                Max weight 
                            </li>
                            <ul><li> Casement glass sash: 60kg  </li>

                            <li>
                                Casement screen sash: 20kg
                            </li>
                            <li>Outward awning glass sash: 130kg</li>
                           
                        </ul>
                         <li>Max Size(mm)</li>
                            <ul>
                                <li> Awning window: W 550~1600 | H 430~2000</li>
                                <li>
                                    Casement window: W 450~750 | H 550~1800
                                </li>
                            </ul>
                            <li>  Glass thickness: 30mm</li>
                        </ul>
                    </div>
                    <div class="second-list">
                        <h4>Feature</h4>
                        <ul><li>Sash Flush To Frame Design </li>                 
                            <li> Conceal Drainage</li>   
                            <li>Minimalist Handle  </li> 
                            <li>Premium Gaskets</li>     
                            <li>Strong Friction Hinge</li>  
                            <li>Welding Seamless Joint</li> 
                            <li>Anti-Theft Lock Point </li>           
                            <li> Safe Round Corner</li>     
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Wide Application To Both Residential & Commercial With Minimalism Appearance</h3>
            <img [src]="imgPath2" class="img-fluid mx-auto d-block" alt="Minimalism Appearance">
        </div>
    </div>
 
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <h3>Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Sash Flush To Frame Design</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>This meticulous attention to detail ensures a seamless, streamlined appearance, enhancing the aesthetic appeal of any space. Enjoy unobstructed views and a clean, modern look that complements various architectural styles.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Minimalist Handle</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>This design choice not only adds a touch of elegance but also
                ensures that the focus remains on the window's overall aesthetic.
                The handle, though understated, provides a comfortable and
                ergonomic grip for smooth operation.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Strong Friction Hinge
           </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The feature not only enhances functionality but also contributes to the
                window's durability, ensuring consistent performance over the years.
                
                Open your windows with ease and enjoy the seamless transition between
                indoor and outdoor spaces.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Anti-Theft Lock Point</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Safety is a top priority at Hasco, and the MD128 reflects this
                commitment with its anti-theft lock point.
                
                This advanced security feature adds an extra layer of protection,
                providing peace of mind for homeowners and ensuring that yourspace remains secure.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Conceal Drainage</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>This thoughtful design element not only prevents water
                accumulation but also maintains the window's clean and
                uncluttered appearance.
                
                Enjoy both aesthetic sophistication and practicality with this
                innovative feature.</p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Premium Gaskets</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Crafted with precision, these gaskets provide superior
                weather resistance, ensuring that your interiors remain
                comfortable and protected against external conditions.
                
                Experience the joy of a well-insulated and climate-controlled
                environment.</p>
        </div>
    </div>

    
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Welding Seamless Joint</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>This seamless integration not only enhances the window's
                structural integrity but also adds to its visual appeal.
                
                Enjoy the beauty of a window that looks and feels like a single,
                unified piece of art.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath11" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>WSafe Round Corner</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Safety meets aesthetics with the MD128's safe round corner.
                This design choice not only softens the visual edges but also ensures
                that the window is child-friendly.
                
                Create spaces that are not just beautiful but also safe and welcoming for
                every member of the family.</p>
        </div>
    </div>
    <hr>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">

        <h3 class="display-6 text-muted mb-3">Beyond the Window, Tailoring Spaces with Hasco
        </h3>
        <p class="lead mb-4">
            Not just a manufacturer, Hasco also a architects of spaces, creators of experiences.
            The MD128 Slimline Curtain Wall Window is a testament to our passion for excellence in design and functionality.
            Our commitment extends beyond providing windows; we offer solutions that redefine the way we interact with
            architecture.
        </p>
        </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
<div class="container">
    <div class="row p-2 text-muted rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3>Residential Opulence</h3>
            <p>Elevate the aesthetics of your home with the MD128. Whether it's the living room, bedroom, or kitchen, these windows add a touch of luxury to residential spaces.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3>Commercial Sophistication</h3>
            <p>Make a statement in commercial spaces, be it corporate offices, retail outlets, or hospitality establishments.</p>
        </div>
    </div>
    <div class="row p-2 text-muted rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3>Modern Hospitality</h3>
            <p>Create inviting and stylish hospitality spaces with the MD128. Its slimline design and security features make it a perfect fit for hotels, resorts, and upscale dining establishments.</p>
        </div>
        <div class="col-12 text-muted col-md-6 mb-4 text-center">
            <h3>Architectural Masterpieces</h3>
            <p>For architects and designers pushing the boundaries of creativity, the MD128 is a canvas for architectural masterpieces. Its seamless design and innovative features make it a standout choice for avant-garde projects.</p>
        </div>
    </div>
</div>




<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath15" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3 text-muted">

        <h3 class="display-6 text-muted mb-3">Global Presence, Local Expertise
        </h3>
        <p class="lead mb-4">
            As a global player in the industry, our windows are crafted to meet the diverse
            needs of different regions, combining international standards with local expertise.
        </p>
        </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath16" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

