<app-img-slider
    [images]=
    "[
    'panoramicSlidingDoor2'
    ]"
>
</app-img-slider>



 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'panoramicSlidingDoor3',
                    'panoramicSlidingDoor4',
                    'panoramicSlidingDoor5',
                    'panoramicSlidingDoor6'
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                    <h2>MD210 | 315 Slimline Panoramic Sliding Door
                    </h2>
                    <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li> Max weight: 1000kg | W≥750 | 2000 ≤ H ≤ 5000</li>
                            <li>Glass thickness: 38mm </li>
                            <li>Flymesh: ss, foldable, rolling</li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Hidden Drainage</li>
                                <li>Manual & Motorized Available</li>
                                <li>28mm Slim Interlock</li>
                                <li>Foldable Conceal Fly Screen</li>
                                <li>Flush Bottom Track For Easy Cleaning</li>
                                <li>Motorized Rolling Screen</li>
                                <li>Concealed Sash</li>
                                <li>Balustrade</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>

    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="mb-3">Panoramic Slimline Sliding Door
                With Sash Fully Concealed</h3>
                <h3 class="mb-3">2 Tracks</h3>
            <div class="row justify-content-center">
                <div class="col-4 mb-3">
                    <img [src]="imgPath2" class="img-fluid" alt="Minimalism Appearance">
                </div>
                <div class="col-4 mb-3">
                    <img [src]="imgPath22" class="img-fluid" alt="Minimalism Appearance">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="mb-3">3 Tracks</h3>
            <div class="row justify-content-center">
                <div class="col-4 mb-3">
                    <img [src]="imgPath222" class="img-fluid" alt="Minimalism Appearance">
                </div>
                <div class="col-4 mb-3">
                    <img [src]="imgPath2222" class="img-fluid" alt="Minimalism Appearance">
                    
                </div>
            </div>
            <p>Option With Fly Mesh</p>
        </div>
        <hr>
    </div>
 
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <h3>Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Hidden Drainage</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Innovation efficiently manages water runoff without
                compromising the door's clean and minimalist appearance,
                ensuring that your living space remains visually unblemished.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>28mm Slim Interlock
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
           <p>Step into a world of unobstructed views with slim interlock.
            This design choice minimizes sightlines, allowing you to connect seamlessly with the panoramic vistas outside.
            The door becomes a canvas, framing the beauty of your
            surroundings with elegance and precision.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Flush Bottom Track For Easy Cleaning
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Practical luxury meets convenience with flush bottom track.
                This innovative feature not only enhances the door's sleek
                appearance but also facilitates easy cleaning, ensuring that
                maintenance becomes a seamless part of your lifestyle.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Concealed Sash
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Whether you prefer a hands-on approach or the convenience of
                automation, the door caters to your preferences with both manual and motorized options.
                
                Embrace a lifestyle tailored to your needs, where comfort and
                functionality coexist seamlessly.</p>   
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Foldable Conceal Fly Screen
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Experience the epitome of unobstructed enjoyment with foldable conceal fly screen.
                This feature, intelligently designed for easy deployment and concealment, ensures that you can savor the outdoors without
                compromising on comfort.</p>
         </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Motorized Rolling Screen
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>An effortless convenience with its motorized rolling screen. Enjoy the luxury of controlling your environment with the
                touch of a button, creating a harmonious indoor-outdoor experience that aligns with the modern pace of life.
            </p>
        </div>
    </div>

    
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Balustrade
            </h6>

        </div>
        <div class="col-md-6 d-flex align-items-center">
         <p>Elevate your space with a touch of opulence through the balustrade option.
            This feature not only adds a distinctive architectural element but also enhances safety and visual appeal, making a bold statement in high-end residences and commercial projects.</p>
        </div>
    </div>
    <hr>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h2 class="text-muted mb-4">Transformative Benefits and Versatile Applications</h2>
            <div class="p-4 rounded-3 text-muted">
                <h3 class=" mb-3">Architectural Elegance</h3>
                <p>The concealed sash, slim interlock, and hidden drainage contribute to the door's sleek and minimalist appearance, elevating the overall architectural elegance of any space.</p>
            </div>
            <div class="p-4 rounded-3 text-muted">
                <h3 class=" mb-3">Uninterrupted Views</h3>
                <p>The slim interlock and panoramic design provide unobstructed views, connecting indoor and outdoor spaces seamlessly and framing the beauty of the surroundings.</p>
            </div>
            <div class="p-4 rounded-3 text-muted">
                <h3 class=" mb-3">Practical Maintenance</h3>
                <p>The flush bottom track and easy-cleaning design ensure practical maintenance, making the door a hassle-free addition to your lifestyle.</p>
            </div>
            <div class="p-4 rounded-3 text-muted">
                <h3 class=" mb-3">Flexibility of Operation</h3>
                <p>With both manual and motorized options, the door offers flexibility in operation, allowing residents to tailor their living experience according to their preferences.</p>
            </div>
        </div>
    </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath12" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <h2 class="text-muted mb-4">Applications Across Spaces</h2>
            <div class="p-4 rounded-3 text-muted">
                <h3 class="mb-3">High-End Private Houses</h3>
                <p>Tailor-made for high-end private residences, where the confluence of luxury and functionality defines the living experience.</p>
            </div>
            <div class="p-4 rounded-3 text-muted">
                <h3 class="mb-3">Villas</h3>
                <p>Transform villas into havens of sophistication. Its panoramic design and opulent features complement the architectural grandeur of villa living.</p>
            </div>
            <div class="p-4 rounded-3 text-muted">
                <h3 class="mb-3">Commercial Projects</h3>
                <p>Elevate the ambiance of commercial spaces. Its sleek design and customizable options make it a perfect fit for high-end retail outlets, offices, and hospitality establishments.</p>
            </div>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <!-- For large and medium screens, display 3 images in a row -->
        <div class="col-12 col-md-4 col-lg-4 text-center">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-12 col-md-4 col-lg-4 text-center">
            <img [src]="imgPath14" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-12 col-md-4 col-lg-4 text-center">
            <img [src]="imgPath15" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
    <hr>
</div>


