<app-img-slider
    [images]=
    "[
    'motorizedLiftUpWindow2',
    ]"
>
</app-img-slider>
  
<div class="my-container my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 mb-2">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'motorizedLiftUpWindow3',
                    'motorizedLiftUpWindow5',
                    'motorizedLiftUpWindow7',
                    'motorizedLiftUpWindow8',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                <h2>MD150 Slimline Motorized Lift Up Window</h2>
                <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Slimline Series: Max Weight 200kg | Width ≤ 4300mm | Height ≤ 2600mm</li>
                            <li>Other Series: Max Weight 1000kg | Width ≤ 8000mm | Height ≤ 2600mm</li>
                            <li>Glass Thickness: 32mm DGU | 17.52mm Laminated</li>
                            <li>Other series available for large openings</li>
                          </ul>
                          <h4>Feature</h4>
                          <ul>
                            <li>Smart Control</li>
                            <li>Backup Power</li>
                            <li>LED Light Belt</li>
                            <li>Safety Sensor</li>
                            <li>Conceal Drainage</li>
                            <li>Rain Sensor</li>
                            <li>Motorized Flynet</li>
                            <li>Fire Sensor</li>
                          </ul>
                          
   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Modern Slimline Parallel Window
                A Solution For Ceiling To Floor Opening</h3>
            <div class="row justify-content-center">
                <div class="col-4">
                    <img [src]="imgPath2" class="img-fluid" alt="Minimalism Appearance">
                </div>
                <div class="col-4">
                    <img [src]="imgPath22" class="img-fluid" alt="Minimalism Appearance">
                </div>
 
            </div>
        </div>
    </div>
 
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <h3>Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Smart Control
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Embraces the era of smart living with its integrated smart control system. Seamlessly connect and control your windows through mobile devices or home automation platforms, providing unparalleled convenience at your fingertips.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>LED Light Belt
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Create a captivating ambiance with LED light belt.
                This subtle yet impactful feature adds a touch of elegance to your
                space, turning your window into a statement piece.
                
                Whether it's creating a warm glow in the evenings or accentuating
                architectural details, the LED light belt transforms your environment.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Conceal Drainage
           </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Say goodbye to unsightly drainage elements with concealed drainage Conceal Drainage system. This thoughtful design ensures that the window maintains its clean and minimalist appearance while efficiently channeling away rainwater. Beauty and functionality seamlessly coexist in this innovative feature.</p> 
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Motorized Flynet
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Enjoy the serenity of your space without compromising on comfort

                with motorized fly net.
                
                This retractable mesh ensures that insects stay out while allowing
                
                refreshing breezes to flow in. Effortlessly deploy or retract the fly net
                
                with the touch of a button, creating a harmonious indoor-outdoor
                
                experience.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Backup Power
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Equipped with a backup power system, ensuring that the window

                remains operational even during power outages.
                
                This feature not only enhances convenience but also adds a layer of
                
                security, providing peace of mind in various situations..</p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Safety Sensor
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The safety sensor detects obstacles during window operation,

                automatically halting movement to prevent accidents.
                
                This intelligent safety feature ensures that your living space
                
                remains secure for all occupants.</p>
        </div>
    </div>

    
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 >Rain Sensor
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center text-muted">
            <p>Goes beyond expectations with its rain sensor.

                This intuitive feature automatically closes the window when rain is
                
                detected, protecting your interiors from the elements.
                
                This intelligent adaptation to weather conditions enhances both
                
                comfort and peace of mind.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath11" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Fire Sensor
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center text-muted">
            <p>Safety is a holistic concept, the widnow addresses it comprehensively with its fire sensor. In the event of a fire, the window automatically opens, facilitating ventilation and aiding escape routes.
                This proactive safety measure showcases Hasco's commitment to creating windows that prioritize the well-being of occupants.
        </div>
    </div>
    <hr>
</div>


<div class="container">
    <div class="row p-2 rounded-3 mb-4 justify-content-center text-muted">
        <h2 class="mb-4 text-center">Beyond the Window: Benefits and Applications
        </h2>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Smart Living
            </h3>
            <p>The integration of smart control elevates the
                window experience, allowing users to effortlessly
                manage their environment</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Commercial Sophistication</h3>
            <p>Make a statement in commercial spaces, be it corporate offices, retail outlets, or hospitality establishments.</p>
        </div>
    </div>
    <div class="row p-2  rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Enhanced Aesthetics
            </h3>
            The LED light belt and conceal drainage
            contribute to the window's sleek appearance,
            adding a touch of sophistication to any space.zzz
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Uninterrupted Fresh Air</h3>
            <p>The motorized fly net ensures that you can

                enjoy the outdoors without the intrusion
                
                of insects, promoting a healthy and
                
                comfortable living environment.</p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath13" class="img-fluid" style="width:89vw; height: auto;">
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-2 rounded-3 mb-4 justify-content-center">
        <h2 class="mb-4 text-center">Applications Across Spaces
        </h2>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Residential Luxury
            </h3>
            <p>Transform your home into a sanctuary of luxury with the MD150. From living rooms to
                bedrooms, this window adds a touch of sophistication to residential spaces.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Hospitality Excellence
            </h3>
            <p>Elevate the guest experience in hotels and resorts with the MD150. Its slimline design and

                smart features make it a perfect fit for the hospitality industry.</p>
        </div>
    </div>
    <div class="row p-2  rounded-3 mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Commercial Prestige
            </h3>
            <p>Make a statement in commercial spaces, from high-end offices to luxury boutiques.

                The MD150's design versatility and smart functionality suit a range of commercial applications.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center text-muted">
            <h3>Architectural Marvels 
            </h3>
            <p>For architects and designers pushing the boundaries of creativity, the MD150 is a 
                canvas for architectural masterpieces. Its unique features and slimline design make it
                an ideal choice for avant-garde projects..</p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-muted">
            <img [src]="imgPath14" class="img-fluid" style="width:89vw; height: auto;">
        </div>
    </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3 text-muted text-center">

        <h3 class="display-6 text-muted mb-3">Elevate Your Living Spaces 
        </h3>
        <p class="lead mb-4">
            MD150 Slimline Motorized Lift-Up Window from Hasco is not just a window; 

            it's a revelation in design and technology. 
            
            From its technical mastery to its intelligent features, every aspect is a testament 
            
            to our commitment to redefining the way we interact with windows. 
            
             Welcome to a world where innovation meets elegance, where Hasco's windows 
            
            become a seamless extension of your lifestyle.
        </p>
        </div>
</div>