
    .solution-list {
        font-size: 1rem;
        line-height: 1.8;
        color: #6c757d; 
        text-align: left;
        padding: 10px;
        margin-top: 1rem;
    }
    .same-height {
        height: 250px; /* Set your desired height */
        object-fit: cover; /* Ensures the image covers the space without distortion */
    }
    