<app-img-slider
    [images]=
    "[
    'slimlineFoldingDoor7',
    ]"
>
</app-img-slider>



 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'slimlineFoldingDoor8',
                    'slimlineFoldingDoor6',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                    <h2>MD100 Slimline Folding Door
                    </h2>
                    <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Slimline Max weight: 250kg | W ≤ 900 | H ≤ 4500</li>
                            <li>Other Series Max weight: 300kg | W ≤ 1300 | H ≤ 6000</li>
                            <li>Glass thickness: 30mm </li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Concealed Hinge</li>   
                                <li> Top and Bottom Bearing Roller | For Heavy Duty and Anti-Swing</li>
                                <li> Dual High-Low Track & Concealed Drainage</li>
                                <li>Concealed Sash</li> 
                                <li>Minimalist Handle</li>
                                <li>Semi-Automatic Locking Handle</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>
</div>  

<div class="row text-center mb-6">
    <div class="col">
        <h3>Opening Mode</h3>
        <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
    </div>
    <hr>
</div>


<div class="container">
    <!-- First Row -->
    <div class="row align-items-center mb-5 text-muted +">
        <div class="col-md-4 text-center">
            <img [src]="imgPath5" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-8">
            <p>
                As a leading slimline

                aluminum window and door manufacturer,
                
                Hasco is renowned for crafting bespoke solutions for high-end projects,
                
                embodying the essence of minimalist style.
                
                In the spirit of continuous evolution,
                
                Hasco proudly unveils its latest masterpiece
                
                – the MD100 Slimline Folding Door.            </p>
        </div>
    </div>
    
    <!-- Second Row -->
    <div class="row align-items-center">
        <div class="col-md-8 text-muted ">
            <p>
                This door not only epitomizes the company's commitment to

                customization but also sets a new
                
                standard for elegance, functionality, and performance.            </p>
        </div>
        <div class="col-md-4 text-center">
            <img [src]="imgPath6" class="img-fluid" style="max-width: 100%;">
        </div>
    </div>
    <hr>

 
    
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Top and Bottom Bearing Roller | For Heavy Duty and Anti-Swing
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Designed for durability and stability,
                the MD100 incorporates a top and bottom bearing roller system.
                This not only ensures smooth and effortless operation but also provides robust support,
                making it ideal for heavy-duty applications.
                The anti-swing feature adds an extra layer of functionality, preventing undesirable movement in windy conditions.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Dual High-Low Track & Concealed Drainage
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Goes beyond conventional door designs with its dual high low track system. 
                This innovative feature not only facilitates the folding motion with precision 
                
                but also contributes to the door's structural integrity. 
                The concealed drainage system efficiently manages water runoff, 
                preventing any water-related issues and maintaining the door's flawless appearance..</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Concealed Sash
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Embracing the theme of concealment, the MD100 features concealed sashes, further enhancing its minimalist aesthetics.

                This design choice ensures that the sashes seamlessly integrate into the overall frame, contributing to the door's clean and uncluttered appearance.
                
                At the core of the door design philosophy is a commitment to minimalism
                .</p>
        </div>
    </div>
    <hr>
    
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Minimalist Handle
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The MD100 Slimline Folding Door is equipped with a minimalist handle, perfectly aligned with its design philosophy.
                The handle is not just a functional element; it's a design statement that complements the overall aesthetic,
                providing a seamless and cohesive look to the door.
                .</p>
        </div>
    </div>

        
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath11" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Semi-Automatic Locking Handle


            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Security meets convenience with the semi-automatic locking handle of the MD100.
                This feature ensures that the door is securely locked with minimal effort, providing peace of mind without compromising ease of use</p>
        </div>
    </div>
    <hr>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath12" class="img-fluid" alt="Opening Mode" style="max-width: 100%; height: 200px;">
            <h6>Performance Excellence
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
          <ul>
            <li>Heat and Sound Proof </li>  

            <li>Air Tightness</li>  

            <li>Low Maintenance</li>  

            <li>Versatile Applications</li>  
          </ul>
        </div>
    </div>
    <hr>
</div>


<div class="container py-4">
    <div class=" p-4 rounded-3 text-muted text-center">

        <h3 class="display-6 text-muted mb-3">Global Appeal

        </h3>
        <p class="lead mb-4">
            Hasco acknowledges the importance of cultural aesthetics in architecture.

            The MD100 Slimline Folding Door can be customized to align with specific cultural

            preferences, from finishes to materials,

            ensuring seamless integration into diverse architectural style
        </p>
        </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-muted">
            <img [src]="imgPath13" class="img-fluid" style="width:89vw; height: auto;">
        </div>
    </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Luxurious Residences
        </h3>
        <p class="lead mb-4">
            allows homeowners to seamlessly merge indoor and outdoor spaces, creating an expansive and inviting environment.
        </p>
        </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Modern Apartments
        </h3>
        <p class="lead mb-4">
            Its slimline design, concealed features, and folding mechanism make it an excellent fit for modern apartments.        </p>
        </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Commercial Spaces
        </h3>
        <p class="lead mb-4">
            The folding door is not confined to residential applications; it also elevates the design and functionality of commercial spaces.        </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3"> Office Buildings
        </h3>
        <p class="lead mb-4">
            In corporate environments, where aesthetics and functionality are equally important, the MD100
        </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-muted">
            <img [src]="imgPath14" class="img-fluid" style="width:89vw; height: auto;">
        </div>
    </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3"> Retail Establishments
        </h3>
        <p class="lead mb-4">
            Its concealed features and panoramic view enhance the display of merchandise,  attracting customers and creating an immersive shopping experience.        </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Hospitality Venues
        </h3>
        <p class="lead mb-4">
            resorts benefit create a seamless transition between indoor and outdoor spaces.
        </p>    
    </div>
    <hr>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3 text-muted text-center">

        <h3 class="display-6 text-muted mb-3">Unblocked View
        </h3>
        <p class="lead mb-4">
            the perfect accompaniment to any room, transforming living areas into bright and open spaces
        </p>
        </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center text-muted">
            <img [src]="imgPath15" class="img-fluid" style="width:89vw; height: auto;">
        </div>
    </div>
</div>



<div class="container py-4">
    <div class=" p-4 rounded-3 text-muted text-center">

        <h3 class="display-6 text-muted mb-3">Hasco: Crafting Innovation, One Project at a Time
        </h3>
        <p class="lead mb-4">
            Hasco's commitment to customization ensures that the door not only meets but exceeds the unique demands of each project, contributing to the creation of timeless and exceptional spaces worldwide.
            Elevate your project with the MD100 a door that transforms spaces and redefines architectural possibilitie        </p>
        </div>
</div>

