<app-img-slider
    [images]=
    "[
    'slimlineConcealedHingeCasementDoor2'
    ]"
>
</app-img-slider>



 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-sl
            ider-container">
                <app-small-img-slider [images]="[
                    'slimlineConcealedHingeCasementDoor3',
                    'slimlineConcealedHingeCasementDoor5',
                    'slimlineConcealedHingeCasementDoor6',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                    <h2>MD72 Slimline Concealed Hinge Casement Door
                    </h2>
                    <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Max weight: 100/120kg | W 1000 | H ≤ 3000</li>
                            <li>Glass thickness: 30mm </li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Concealed Hinge & Exposed Hinge Available
                                </li>
                                <li>Anti-Theft Lock Point</li>
                                <li> Sash Flushed To Frame</li> 
                                <li>Open-Angle Restriction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>
    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="">Concealed Hinge & Sash Flush To Frame Design</h3>
            <img [src]="imgPath2" class="img-fluid mx-auto d-block" alt="Minimalism Appearance">
        </div>
    </div>
 
    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="">Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <h3 class="">Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="">Concealed Hinge & Exposed Hinge Available</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Recognizing the diverse preferences of architects and homeowners,
                Hasco provides the option for concealed hinges or exposed hinges.
                
                The concealed hinge design contributes to the door's sleek and
                streamlined appearance, while the exposed hinge option adds a touch of
                industrial chic to the overall aesthetic.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="">Anti-Theft Lock Point</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Security is paramount.
                With an advanced anti-theft lock point, this feature is
                strategically placed to prevent any attempts at forced entry.

                Providing homeowners and project managers with peace of mind.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="">Sash Flushed To Frame</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The sash seamlessly integrates into the frame, creating
                a harmonious and visually pleasing appearance.
                
                This meticulous detailing not only enhances the door's
                aesthetics but also eliminates potential vulnerabilities,
                contributing to the door's robust security features.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="">Anti-Theft Lock Point</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Safety is a top priority at Hasco, and the MD128 reflects this
                commitment with its anti-theft lock point.
                
                This advanced security feature adds an extra layer of protection,
                providing peace of mind for homeowners and ensuring that your space remains secure.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="">Open-Angle Restriction</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Equipped with an open-angle restriction feature.
                This innovative mechanism allows the door to be opened to a specific
                angle, preventing it from swinging too far and causing potential accidents.
                
                This attention to detail showcases Hasco's commitment to user safety and
                practical functionality.
            </p>
        </div>
    </div>

    <hr>
</div>

<div class="container">
    <div class="row p-2 text-muted mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3 class="">Versatile Applications</h3>
            <p>a versatile solution that enhances a variety of architectural projects.</p>
        </div>
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3 class="">Residential Homes</h3>
            <p>Ideal for luxurious residences,
                the concealed hinge design and anti-theft lock point
                make a sophisticated choice for homeowners
                who prioritize both aesthetics and security.
            </p>
        </div>
    </div>
    <div class="row p-2 text-muted  mb-4 justify-content-center">
        <div class="col-12 col-md-6 mb-4 text-center">
            <h3 class="">Apartments and Condos</h3>
            <p>In urban settings where space is at a premium,
                the MD72 offers a sleek and space-saving solution.
                The concealed hinge design maintains the clean lines of modern apartments,
                and the open-angle restriction feature ensures safe operation even in confined spaces.
            </p>
        </div>
        <div class="col-12 text-muted col-md-6 mb-4 text-center">
            <h3 class="">Commercial Spaces</h3>
            <p>From boutique stores to high-end offices, the MD72 brings a touch of sophistication.
                The exposed hinge option may appeal to commercial spaces seeking an industrial aesthetic,
                while the concealed hinge design maintains a professional and streamlined appearance.
            </p>
        </div>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath12" class="img-fluid" style="width: 80vw; height: auto;">
        </div>
    </div>
    <hr>
</div>

<div class="container py-4">
    <div class="p-4 rounded-3 text-muted text-center">
        <h3 class="display-6  mb-3 small">Heat and Sound Proof</h3>
        <p class="lead mb-4 small">
            The door's ability to regulate temperature ensures year-round comfort, while
            its design and materials contribute to soundproofing, creating a tranquil indoor
            environment.
        </p>
    </div>

    <div class="p-4 rounded-3 text-muted text-center">
        <h3 class="display-6  mb-3 small">Tightness</h3>
        <p class="lead mb-4 small">
            This feature not only enhances energy efficiency but also ensures a
            comfortable and healthy living or working environment, free from
            external pollutants and allergens.
        </p>
    </div>

    <div class="p-4 rounded-3 text-muted text-center">
        <h3 class="display-6  mb-3 small">Durability and Low Maintenance</h3>
        <p class="lead mb-4 small">
            The materials and construction of the Slimline Concealed Hinge Casement Door
            are chosen for their durability, ensuring longevity and minimal maintenance requirements.
            This not only adds value to the investment but also delivers high-quality solutions.
        </p>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath10" class="img-fluid" style="width: 80vw; height: auto;">
        </div>
    </div>
    <hr>
</div>
