<app-img-slider
    [images]=
    "[
    'slimlineLiftAndSlideDoor2'
    ]"
>
</app-img-slider>



 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'slimlineLiftAndSlideDoor3',
                    'slimlineLiftAndSlideDoor5',
                    'slimlineLiftAndSlideDoor6',
                    'slimlineLiftAndSlideDoor8'
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                    <h2>MD123 Slimline Lift and Slide Door
                    </h2>
                    <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li> Max weight: 360kg l W ≤ 3300 | H ≤ 3800</li>
                            <li>Glass thickness: 30mm </li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Panoramic View</li>
                                <li>Slimline Locking System</li>
                                <li>Security Lock System</li>
                                <li>Foldable Concealed Flynet</li>
                                <li>Smooth Sliding</li>
                                <li>Excellent Drainage</li>
                                <li>Soft Close Handle To Avoid Dangerous Rebound</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Heavy Duty Type To Support Big Opening
            </h3>
            <img [src]="imgPath2"  class="img-fluid d-block" alt="Minimalism Appearance">
        </div>
    </div>
 
    <div class="row text-center mb-6">
        <div class="col">
            <h3>Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>
    <div class="row mb-5">
      
        <div class="col-md-6 text-center">
            <h3>Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Panoramic View
            </h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Offering an unparalleled panoramic view is the core design of
            the MD123 Slimline Lift and Slide Door
            
            The design seamlessly integrates large glass panels, providing an
            unobstructed visual connection between indoor and outdoor spaces.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Security Lock System
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Equipped with an advanced Security Lock System, ensuring
                peace of mind for homeowners and project managers alike.
                
                This robust system is designed to withstand external forces,
                adding an extra layer of protection to your property.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Smooth Sliding
           </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Effortlessly glide the door open to connect with the outdoors
                or create a barrier against the elements when needed.
                
                The engineering precision behind the sliding mechanism
                guarantees a seamless operation, creating an inviting transition
                between interior and exterior spaces.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Soft Close Handle To  Avoid Dangerous Rebound
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Incorporating user safety as a top priority, Hasco has
                integrated a Soft Close Handle into the MD123 Slimline
                Lift and Slide Door.
                
                This innovative feature prevents dangerous rebounds,
                ensuring that the door closes gently and smoothly without
                the risk of accidental injuries.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Slimline Locking System
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>This discreet yet powerful locking system ensures a tight seal, enhancing the
                door's resistance against external elements and intruders.
                
                The Slimline Locking System is a testament to Hasco's commitment to
                combining aesthetics with robust security measures.</p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Foldable Concealed Flynet
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Featured with a foldable concealed flynet,
                seamlessly integrated into the door frame.
                
                This innovative solution keeps pesky insects at bay
                without compromising the aesthetics or obstructing
                the panoramic view.</p>
        </div>
    </div>

    
    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Excellent Drainage
            </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>To ensure longevity and performance, the MD123 comes
                equipped with an excellent drainage system.
                
                The meticulous attention to detail in the design of the drainage
                system reflects Hasco's commitment to durability and
                sustainability.</p>
        </div>
    </div>

    <hr>
</div>

<div class="container my-5">
    <div class="p-5 text-center   ">
        <h2 class=" mb-4">A Global Marvel for Diverse Spaces</h2>
        <p class="lead">
            In the ever-evolving world of architecture and design, <strong>Hasco</strong> stands out as a pioneer in delivering cutting-edge solutions for the contemporary aesthetic.
        </p>
        <p class="lead">
            With a legacy rooted in the United Kingdom, <strong>Hasco</strong> takes pride in introducing its latest innovation – the <strong>MD123 Slimline Lift and Slide Door</strong>.
        </p>
        <hr class="my-4" />
        <h3 class=" mt-4">Redefining Elegance and Functionality</h3>
        <p class="lead">
            This door redefines the boundaries of elegance and functionality, catering to high-end, customized project demands that seek a perfect blend of minimalist style and superior performance.
        </p>
    </div>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath11" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="p-5 text-center">
        <h3 class=" mt-4">Redefining Elegance and Functionality</h3>
        <p class="lead">
            This door redefines the boundaries of elegance and functionality, catering to high-end, customized project demands that seek a perfect blend of minimalist style and superior performance.
        </p>
        <hr class="my-4" />
        <h3 class=" mt-4">Customization and Versatility for Every Space</h3>
        <p class="lead">
            With a keen focus on customization and versatility, the <strong>MD123</strong> caters not only to residences but extends its capabilities to diverse commercial applications globally.
        </p>
        <p class="lead">
            Let's explore how this exceptional door can seamlessly integrate into various settings and meet the unique demands of different countries.
        </p>
    </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath12" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="p-5 text-center   ">
        <h2 class=" mb-4">Residential Elegance</h2>
        
        <h3 class=" mt-4">Luxurious Residences</h3>
        <p class="lead">
            The <strong>Slimline Lift and Slide Door</strong> brings a touch of luxury to high-end residences. Its panoramic view feature transforms living spaces, inviting the outdoors in and enhancing the overall aesthetic appeal of modern homes.
        </p>
        <hr>
        <h3 class=" mt-4">Urban Apartments</h3>
        <p class="lead">
            In urban settings where space is a premium, the smooth sliding mechanism becomes invaluable. The door facilitates a seamless transition between indoor and outdoor spaces, making it an excellent choice for urban apartments.
        </p>
    </div>
</div>


<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="p-5 text-center   ">
        <h2 class=" mb-4">Commercial Versatility</h2>
        
        <h3 class=" mt-4">Retail Spaces</h3>
        <p class="lead">
            For retail establishments looking to create an inviting atmosphere, the <strong>MD123</strong> is an excellent choice.
        </p>
        
        <h3 class=" mt-4">Office Buildings</h3>
        <p class="lead">
            The door's smooth sliding mechanism enhances the flow between office spaces and outdoor areas, creating a dynamic and refreshing atmosphere. The <strong>Slimline Locking System</strong> ensures the security and confidentiality required in professional settings.
        </p>
        
        <h3 class=" mt-4">Hospitality Sector</h3>
        <p class="lead">
            Hotels and resorts can benefit from the <strong>MD123</strong>'s ability to create seamless transitions between indoor and outdoor spaces. The panoramic view adds a touch of luxury to guest rooms, while the security features ensure the safety of occupants.
        </p>
    </div>
    <hr>
</div>

<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath14" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="p-5 text-center   ">
        <h2 class=" mb-4">Global Adaptability</h2>
        
        <h3 class=" mt-4">Climate Adaptation</h3>
        <p class="lead">
            The <strong>MD123</strong>'s excellent drainage system is designed to adapt to different climates. In areas with heavy rainfall, the drainage system ensures efficient water management, preventing damage to the door and its surroundings.
        </p>
        
        <p class="lead">
            In arid regions, the door's ability to create a panoramic view is an asset, allowing residents and occupants to enjoy the outdoors even in extreme temperatures.
        </p>
    </div>
</div>
<div class="container p-3">
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
            <img [src]="imgPath15" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="p-5 text-center   ">
        <h2 class=" mb-4">Security Standards</h2>
        
        <p class="lead">
            Recognizing the varying security requirements in different countries, Hasco has engineered the MD123 to meet and exceed global standards.
        </p>
        
        <p class="lead">
            The door's <strong>Security Lock System</strong> is adaptable to different security protocols, making it suitable for deployment in diverse geopolitical environments.
        </p>

        <h2 class=" mb-4 mt-5">Cultural Sensitivity</h2>

        <p class="lead">
            Understanding the importance of design in reflecting cultural aesthetics, Hasco offers customization options for the MD123.
        </p>

        <p class="lead">
            From the choice of materials to finishes, the door can be tailored to complement and enhance the architectural nuances of different regions.
        </p>

        <h3 class=" mt-4">A Versatile Choice</h3>
        
        <p class="lead">
            The <strong>MD123 Slimline Lift and Slide Door</strong> by Hasco transcends the conventional boundaries of door design, making it a versatile choice for a myriad of applications.
        </p>

        <p class="lead">
            Whether adorning luxurious residences, enhancing commercial spaces, or adapting to diverse global requirements, this door is a symbol of sophistication and adaptability.
        </p>

        <p class="text-muted">
            Hasco's commitment to innovation and customization ensures that the MD123 not only meets but exceeds the expectations of a global audience, contributing to the transformation of spaces worldwide.
        </p>
    </div>
</div>
