<app-img-slider
    [images]=
    "[
    'casementWindow-3',
    ]"
>
</app-img-slider>

 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row  d-flex align-items-center align-items-center">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 mb-2">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'casementWindow-5',
                    'casementWindow-6',
                    'casementWindow-7',
                    'casementWindow-8',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                <h2>MD136 Slimline Casement Window</h2>
                <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Max weight</li>
                                <ul>
                                    <li>Casement glass sash: 80kg</li>
                                    <li>Casement screen sash: 25kg</li>
                                    <li>Outward awning glass sash: 180kg </li>
                                </ul>
                            <li>Glass thickness:30 mm</li>
                        </ul>
                        <ul>
                            <li>Max size(mm)</li>
                                <ul>
                                    <li>Casement window: W 450~750|H 550~1800</li>
                                    <li>Awning window: W400~1500|H 430~3000</li>
                                    <li>Fix window: Max height 6000</li>
                                </ul>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Sash Flushed To Frame</li>
                                <li>Concealed Handle & Hidden Drainage</li>
                                <li>Column-Free & Aluminum Column Available</li>
                                <li>Can Be Used For Curtain Wall</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">

    <div class="first-sub-container  ">
        <img [src]="imgPath1">
    </div>

    <div class="second-sub-container">
        <h3>Customized Made Slimline Casement Window</h3>
        <h3>For Both Residential & Commercial</h3>
        <div >
            <img [src]="imgPath2">
            <img [src]="imgPath3">
            <img [src]="imgPath4">
        </div>
        
    </div>

    <div class="third-sub-container">
        <h3>OPENING MODE</h3>
        <div>
            <img [src]="imgPath5">
            <img [src]="imgPath6">
        </div>
    </div>

    <div class="fourth-sub-container">
        <h3>FEATURES</h3>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 ">
                <img class="img-fluid" [src]="imgPath7" alt="Image 7">
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <h4>Sash Flushed To Frame</h4>
                <p>The sash is seamlessly flushed to the frame, creating a smooth, unified surface that enhances both aesthetics and functionality. This design choice ensures that the MD136 complements any architectural style with grace and sophistication.</p>
            </div>
        </div>
    </div>
    
    <div class="fifth-sub-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6 ">
                <img class="img-fluid" [src]="imgPath9" alt="Image 9">
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <h4>Column-Free & Aluminum Column Available</h4>
                <p>Freedom of design meets structural integrity with the column-free option. Enjoy unobstructed panoramic views, creating a sense of openness and space. This flexibility ensures the window seamlessly integrates into your vision, providing both form and function.</p>
            </div>
        </div>
    </div>
    
    <div class="sixth-sub-container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <img class="img-fluid" [src]="imgPath10" alt="Image 10">
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <h4>Can Be Used For Curtain Wall</h4>
                <p>It's a versatile design element that can be seamlessly incorporated into curtain wall systems. This flexibility allows architects and designers to unleash their creativity, transforming spaces into works of art.</p>
            </div>
        </div>
    </div>
    

</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Beyond the Window: Crafting Experiences</h3>
        <p class="lead Hasco mb-4">
            At Hasco, we understand that a window is more than just a static element — it's a dynamic part of your daily life.
        </p>

        <h3 class="display-6 text-muted mb-3">Precision Engineering for Smooth Operation</h3>
        <p class="lead  mb-4">
            The window precision engineering ensures a smooth and effortless operation, providing not only visual appeal but also practicality in every movement.
        </p>

        <h3 class="display-6 text-muted mb-3">Endless Design Possibilities</h3>
        <p class="lead  mb-4">
            Not a one-size-fits-all solution; it's a canvas for your imagination. Choose from a variety of finishes and colors to tailor the window to your project's unique aesthetic.
        </p>

        <h3 class="display-6 text-muted mb-3">Energy Efficiency and Sustainability</h3>
        <p class="lead  mb-4">
            Beyond beauty and functionality, the MD136 reflects our commitment to sustainability. The precision engineering doesn't just enhance the window's performance but also contributes to energy efficiency.
        </p>
    </div>
</div>

<div class="container">
    <div class="row  gap-5 justify-content-center">
        <div class="col-6 col-md-3 d-flex justify-content-center m-5">
            <img [src]="imgPath11" class="img-fluid" style="max-width: 350px; height: 300px;">
        </div>
        <div class="col-6 col-md-3 d-flex justify-content-center m-5">
            <img [src]="imgPath12" class="img-fluid" style="max-width: 350px;">
        </div>
    </div>
</div>



<div class="container py-4">
    <div class="p-4 rounded-3">
        <h2 class="display-5 text-muted mb-3">Global Excellence, Local Expertise
        </h2>
        <h3 class="display-6 text-muted mb-3">Exporting to Your Region
        </h3>
        <p class="lead  mb-4">
            With a focus on exporting to America, Mexico, Middle East Arabia and Asia countries,
            Hasco understands the global market's diverse needs.
            Our windows are crafted to meet international standards,
            ensuring that your project benefits from the excellence and reliability that Hasco represents.
            Global Excellence, Local Expertise        </p>

        <h3 class="display-6 text-muted mb-3">Local Support and Customization
        </h3>
        <p class="lead  mb-4">
            While we operate globally, we understand the importance of local expertise.
            Our team is dedicated to providing personalized support,
            ensuring that your MD136 Slimline Casement Windows are not just a product
            but a tailored solution that aligns seamlessly with your project's requirements        </p>

    </div>
</div>


<div class="container p-3">
    <div class="row  gap-5 justify-content-center">
        <div class=" col-6 col-md-3 d-flex justify-content-center m-5">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 650px; height: 300px;">
        </div>
        <div class="col-6 col-md-3 d-flex justify-content-center m-5">
            <img [src]="imgPath14" class="img-fluid" style="max-width: 650px;">
        </div>
    </div>
</div>



<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Tailoring Spaces with Hasco
        </h3>
        <p class="lead text-secondary mb-4">
            In the journey of crafting spaces, Hasco stands as a reliable companion,
            offering not just windows but solutions that redefine the way we experience architecture.
            The Slimline Minimalist Parallel Window, with its technical prowess and aesthetic finesse,
            is a testament to our commitment to innovation and design excellence.     </p>
    </div>
</div>  