<div class="container ">
    <div class="item-show">
        <div class="info-item d-flex justify-content-between align-items-center mb-3 p-2">
            <p>Email: {{email}}</p>
            <img [src]="imgPath1" alt="Email Icon">
        </div>
    </div>
    <div class="item-show">
        <div class="info-item d-flex justify-content-between align-items-center mb-3 p-2">
            <p>Phone:00000000000000000</p>
            <img [src]="imgPath2" alt="Phone Icon">
        </div>
    </div>
</div>
