<app-img-slider
    [images]=
    "[
    'motorizedRollingFlymesh2'
    ]"
>
</app-img-slider>



 
<div class="my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center ">
        <!-- Image Slider Container -->
        <div class="col-lg-5 col-md-6 col-sm-8 ">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'motorizedRollingFlymesh3',
                    'motorizedRollingFlymesh5',
                    'motorizedRollingFlymesh8',
                    'motorizedRollingFlymesh10',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-6 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                    <h2>Motorized Rolling Flymesh
                    </h2>
                    <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Max size（mm）:W ≤ 18000mm | H ≤ 4000mm</li>
                            <li>ZY105 serie W ≤ 4500，H ≤ 3000 </li>
                            <li> ZY125 serie W ≤ 5500， H ≤ 5600</li>
                            <li>Ultrawide system(Hood box 140*115) W ≤ 18000，H ≤ 4000</li>
                            <li>1-layer & 2-layer are available</li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Thermal Insulation, Fire-Proof</li>
                                <li>Anti-Bacteria, Anti-Scratch</li>
                                <li> Smart Control</li>
                                <li>24V Safe Voltage</li>
                                <li>Flush Bottom Track For Easy Cleaning</li>
                                <li>Insect, Dust, Wind, Rain Proof </li>
                                <li>UV Proof</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container text-center my-4">
    <h3 class="mb-3">Start Smart Life With One Click</h3>
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 mb-3">
            <img [src]="imgPath3" alt="Image 1" class="img-fluid rounded fixed-height-img">
            <p class="mt-2">Color Options</p>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <img [src]="imgPath4" alt="Image 2" class="img-fluid rounded fixed-height-img">
            <p class="mt-2">Fabric Options
            </p>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <img [src]="imgPath5" alt="Image 3" class="img-fluid rounded fixed-height-img">
            <p class="mt-2">ight transmittance: 0%~40%</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row justify-content-center">
    
        <div class="col-md-6 text-center">
            <h3>Feature</h3>
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Thermal Insulation, Fire-Proof</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>By maintaining a consistently pleasant temperature, this shading solution
                allows you to revel in your outdoor oasis regardless of the external
                climate.
                
                Additionally, the fire-proofing element adds an extra layer of safety,
                ensuring peace of mind as you bask in the warmth of your outdoor space.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Smart Control</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Rolling flymesh takes outdoor living into the future with its smart
                control options.
                The convergence of these smart control features empowers you to
                have complete dominion over your outdoor environment.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath8" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Insect, Dust, Wind, Rain Proof
           </h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Redefines outdoor comfort by providing unparalleled protection against
                a multitude of elements.

                Its innovative design ensures that your space remains insect-proof,
                preventing unwanted pests from intruding on your outdoor haven.
                Simultaneously, it stands as a fortress against dust, rain, and the
                capriciousness of the wind, creating a sheltered environment.
            </p>    
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath9" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>Anti-Bacteria, Anti-Scratch</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Beyond the ordinary, the rolling flymesh incorporates anti-bacterial
                and anti-scratch properties into its design.

                This not only ensures a hygienic outdoor space but also preserves the
                visual appeal of the flymesh, making it a timeless investment that
                stands resilient against the test of time.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath10" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>24V Safe Voltage</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>
                Operating at a secure 24V voltage, the rolling flymesh prioritizes
                your safety while delivering efficient performance.

                This low voltage not only minimizes energy consumption but also
                guarantees a secure and reliable operation for extended periods,
                ensuring that your outdoor space remains a haven of comfort.
            </p>
        </div>
    </div>


    <div class="row mb-5">
        <div class="col-md-6 text-center">
            <img [src]="imgPath11" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6>UV Proof</h6>

        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Harness the power of natural light without compromising on safety
                with UV-proof technology.
                
                Shielding against harmful UV rays, this innovation not only
                safeguards your well-being but also preserves the flymesh's
                structural integrity, promising long-lasting performance and enduring aesthetic appeal.</p>
        </div>
    </div>
    <hr>
</div>

<div class="container">
    <!-- First Row -->
    <div class="row align-items-center mb-5 text-muted +">
        <div class="col-md-4 text-center">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-8">
            <h3>In residential settings,</h3>
            <p>
                it becomes an integral part of the home, seamlessly
                connecting interiors with exteriors while offering
                privacy and protection.
            </p>
        </div>
    </div>
    
    <!-- Second Row -->
    <div class="row align-items-center">
        <div class="col-md-8 text-muted ">
            <h3>On balconies,
            </h3>
            <p>
                it's a space-saving and stylish addition that
                elevates the outdoor experience, offering a
                haven within the urban landscape.
           </p>
        </div>
        <div class="col-md-4 text-center">
            <img [src]="imgPath14" class="img-fluid" style="max-width: 100%;">
        </div>
    </div>
</div>

<div class="container">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Versatile Applications for Every Space
        </h3>
        <p class="lead text-secondary mb-4">
            The Hasco Rolling Blind is not confined to a singular purpose; instead, it presents a myriad
            of applications across various environments.
            Whether adorning pergolas, enhancing balconies, or transforming gardens into private
            retreats, this innovative solution is designed to elevate your outdoor experience.
            Moreover, its functionality extends to spaces that demand privacy, making it an ideal choice
            for offices, meeting rooms, bedrooms, and beyond   </p>
            <div>
                <div class="col-12 col-md-12 text-center">
                    <img [src]="imgPath12" class="img-fluid" style="width: 900px">
                </div>
            </div>
    </div>
</div>  


<div class="container">
    <div class=" p-4 rounded-3">
        <p class="lead text-secondary mb-4">
            In office environments,
            the Hasco Rolling Blind becomes a sophisticated solution for meeting rooms and
            individual offices.
            Its smart control options cater to the demands of modern workplaces, ensuring a
            comfortable and productive atmospher   </p>
            <div>
                <div class="col-12 col-md-12 text-center">
                    <img [src]="imgPath15" class="img-fluid" style="width: 900px">
                </div>
            </div>
    </div>
</div>  

<div class="container">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Customization for Every Need
        </h3>
        <p class="lead text-secondary mb-4">
            The adaptability of the Hasco Rolling Blind extends beyond color choices and light transmittance options.
            With the ability to cater to different needs and preferences, it becomes a truly personalized solution.
            Whether you seek complete blackout for a bedroom, a balance of light and privacy for a living room,
            or a combination of aesthetics and functionality for a pergola,
            the Hasco Rolling Blind is designed to meet your specific requirements. </p>
            <div>
                <div class="col-12 col-md-12 text-center">
                    <img [src]="imgPath16" class="img-fluid" style="width: 900px">
                </div>
            </div>
    </div>
</div>  



