<app-img-slider
    [images]=
    "[
        'parallelWindow2',
    ]"
>
</app-img-slider>

  
<div class="my-container my-5" style=" 
width: 90%;
margin: auto;
padding: 30px;">
    <div class="row align-items-center">
        <!-- Image Slider Container -->
        <div class="col-lg-4 col-md-6 col-sm-8 mb-2">
            <div class="img-slider-container">
                <app-small-img-slider [images]="[
                    'parallelWindow3',
                    'parallelWindow5',
                    'parallelWindow6',
                    'parallelWindow7',
                ]"></app-small-img-slider>
            </div>
        </div>

        <!-- Text Container -->
        <div class="col-lg-7 col-md-6 col-sm-8 mb-2">
            <div class="text-container">
                <h2>MD170 Slimline Paralle Window</h2>
                <div class="technical-data">
                    <div class="first-list">
                        <h4>Technical Data</h4>
                        <ul>
                            <li>Max weight: 260kg</li>
                            <li>Max size(mm): W 550~1200 | H 600~3400</li>
                            <li>Glass thickness: 30mm</li>
                        </ul>
                        <div class="second-list">
                            <h4>Features</h4>
                            <ul>
                                <li>Manual & Motorized Available</li>
                                <li>Sash Flushed To Frame</li>
                                <li>Concealed, Simple And Elegant Handle</li>
                                <li>Fixed Window Appearance</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container py-4 my-4">
    <div class="row justify-content-center mb-4">
      <div class="col-12 col-md-10 col-lg-9">
        <img [src]="imgPath1" class="img-fluid" style="max-width: 100%;" alt="Description">
      </div>
    </div>

    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="mb-3">Modern Slimline Parallel Window
                A Solution For Ceiling To Floor Opening</h3>
            <div class="row justify-content-center">
                <div class="col-4 mb-3">
                    <img [src]="imgPath2" class="img-fluid" alt="Minimalism Appearance">
                </div>
                <div class="col-4 mb-3">
                    <img [src]="imgPath22" class="img-fluid" alt="Minimalism Appearance">
                </div>
                <div class="col-4 mb-3">
                    <img [src]="imgPath222" class="img-fluid" alt="Minimalism Appearance">
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center mb-6">
        <div class="col">
            <h3 class="mb-3">Opening Mode</h3>
            <img [src]="imgPath3" class="img-fluid mx-auto d-block" alt="Opening Mode">
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center mb-3">
            <h3 class="mb-2">Feature</h3>
            <img [src]="imgPath4" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="mt-2">Manual & Motorized Available</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Flexibility is key in the modern world, and the Slimline Minimalist
                Parallel Window adapts effortlessly to your lifestyle.
                
                This duality ensures that your window is not just a design statement but
                a functional element that aligns with your daily needs.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center mb-3">
            <img [src]="imgPath5" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="mt-2">Sash Flushed To Frame</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>Elevate your spaces with the visual harmony of a sash flushed to the frame.
                The seamless integration of the sash with the frame not only enhances the
                aesthetic appeal but also ensures a smooth and effortless operation,
                creating an unobtrusive yet impactful presence in any room.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center mb-3">
            <img [src]="imgPath6" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="mt-2">Concealed, Simple And Elegant Handle</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The handle is not just a functional element; it's a design detail that can
                elevate the entire window. The handle is concealed, embodying
                simplicity and elegance.
                
                This thoughtful design choice not only adds a touch of refinement but
                also contributes to the window's clean and uncluttered appearance.</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 text-center mb-3">
            <img [src]="imgPath7" class="img-fluid" alt="Opening Mode" style="max-width: 250px;">
            <h6 class="mt-2">Fixed Window Appearance</h6>
        </div>

        <div class="col-md-6 d-flex align-items-center">
            <p>The Slimline Minimalist Parallel Window, even when operable, presents a
                fixed window appearance.
                
                This innovative feature allows for a consistent aesthetic throughout your
                space, marrying form and function seamlessly.</p>
        </div>
    </div>

    <hr class="my-4">
</div>

<div class="container">
    <!-- First Row -->
    <div class="row align-items-center mb-5 text-muted +">
        <div class="col-md-4 text-center">
            <img [src]="imgPath13" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-8">
            <h3>Energy Efficiency</h3>
            <p>
                The substantial glass thickness contributes to superior insulation, reducing energy consumption and creating a more sustainable living or working environment.
            </p>
        </div>
    </div>
    
    <!-- Second Row -->
    <div class="row align-items-center">
        <div class="col-md-8 text-muted ">
            <h3>Architectural Versatility</h3>
            <p>
                The window's minimalist aesthetic makes it a versatile choice for various architectural styles, from contemporary to industrial.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img [src]="imgPath14" class="img-fluid" style="max-width: 100%;">
        </div>
    </div>
</div>

<div class="container py-4">
    <div class=" p-4 rounded-3">
        <h3 class="display-6 text-muted mb-3">Tailoring Spaces with Hasco
        </h3>
        <p class="lead text-secondary mb-4">
            In the journey of crafting spaces, Hasco stands as a reliable companion,
            offering not just windows but solutions that redefine the way we experience architecture.
            The Slimline Minimalist Parallel Window, with its technical prowess and aesthetic finesse,
            is a testament to our commitment to innovation and design excellence.     </p>
</div>

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-12 col-md-8 text-center">
        <img [src]="imgPath15" class="img-fluid" style="width: 650px">
    </div>
</div>
