 <div class="container">
    <h2>Also Here</h2>
    <div class="image-container">
        <div class="image-item">
            <img [src]="imgPath" alt="Home 25">
        </div>
        <div class="image-item">
            <img [src]="imgPath1" alt="Home 25">
        </div>
        <div class="image-item">
            <img [src]="imgPath2" alt="Home 25">
        </div>
        <div class="image-item">
            <img [src]="imgPath3" alt="Home 25">
        </div>
        <div class="image-item">
            <img [src]="imgPath4" alt="Home 25">
        </div>
    </div>
</div>   
