<app-img-slider
    [images]=
    "[
        'home2',
        'home4',
        'home5',
        'home6',
        'home7',
        'home8'
    ]"
>
</app-img-slider>

<div class="div-img-display" >
    <img [src]="imgPath1">
</div>

<div class="album-conatiner">
    <h2>Window</h2>
    <app-img-album [images]="imagesWindow"></app-img-album>
</div>

<div class="div-img-display" >
    <img [src]="imgPath3">
</div>

<div class="album-conatiner">
    <h2>Door</h2>
    <app-img-album [images]="imagesDoor"></app-img-album>
</div>

<div class="why-us container">
    <h2>Why Hasco</h2>
    <p>Hasco is dedicated to offering a comprehensive service that helps create your five-star home at affordable prices. With over a decade of experience in manufacturing and specializing in minimalist solutions, Hasco strives to leave a lasting impression on clients across various industries, including architects, designers, fabricators, builders, and real estate developers. At Hasco, we don't just deliver products; we offer a lifestyle.</p>
</div>



<app-also-here></app-also-here>
