.div-img-display img{
    display: block;
    margin: 30px auto;
    width: 99%;
    height: auto;
}

h2{
    text-align: center; 
    font-size: 2rem; 
    font-weight: bold; 
    margin-top: 20px;
    margin-bottom: 20px; 
    color: #333; 
}
.why-us{
    margin: 60px auto;
}
.why-us p{
    font-size: 18px;
    text-indent: 30px; /* Adjust the value as needed */

}
